<div  id="env_sci_wrapper">
	<div id="env_back" (click)="goBack()">Back</div>
	<div class="env_sci_header">
		<object id="env_main_img" type="image/svg+xml" data="assets/Fill 124.svg">
  			<img src="assets/Fill 124.svg"/>
		</object>
			<span>Environment<br />Services</span>
	</div>
	<div class="env_container">
		<div class="" (click)="RedirectTo('http://d2cops:8480/CompareVersionWeb')">
			<object id="" type="image/svg+xml" data="assets/Group 2 (1).svg">
				<img src="assets/Group 2 (1).svg"/>
			</object>
				<p>VERSION COMPARE</p>
		</div>
		<div class="" (click)="RedirectTo('http://magellan:8280/')">
			<object id="" type="image/svg+xml" data="assets/Group 6.svg">
				<img src="assets/Group 6.svg"/>
			</object>
				<p>SCHEDULE <br/>ENVIRONMENT USAGE</p>
		</div>
		<div class="">
			<object id="" type="image/svg+xml" data="assets/Group 3 (1).svg">
				<img src="assets/Group 3 (1).svg"/>
			</object>
			
<!-- <script type="text/javascript" src="https://khasimali.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/d290wo/b/20/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=1d0225ec"></script>
 -->				<p>REPORT <br />ENVIRONMENT ISSUE</p>
		</div>
		<div class="">
			<object id="" type="image/svg+xml" data="assets/Group 4.svg">
				<img src="assets/Group 4.svg"/>
			</object>
				<p>REQUEST <br />ENVIRONMENT SERVICE</p>
		</div>
		<div class="" (click)="RedirectTo('http://d2cops58080/GetJvmPropertiesHome.jsp')">
			<object id="" type="image/svg+xml" data="assets/Group 5.svg">
				<img src="assets/Group 5.svg"/>
			</object>
				<p>ENVIRONMENT <br />COMPARE</p>
		</div>
	</div>
</div> 
