<Header>
	<div id="head_left" class="column">
		<div>
		<img class="logo img1" src="assets/macys_logo.png" alt="image" routerLink="/home" />
		<span> | eDEPT - Foundational Services</span>
		</div>
	</div>
	<div id="head_right" class="column">
		<div>

		<object class="img2" id="head_faq" type="image/svg+xml" data="assets/FAQ.svg">
  			<img src="assets/FAQ.svg"/>
		</object>
		<p>FAQ</p>
	</div>
		<div>
		<object class="img2" id="head_help" type="image/svg+xml" data="assets/HELP_ICON.svg">
  			<img src="assets/HELP_ICON.svg"/>
		</object>
		<p>HELP</p>
	 	</div>
		<!-- <span>FAQ</span>
		<span>HELP</span> -->
	</div>
</Header>
