<div class="wrapper">
<div id="homeWrapper">	
	<div class="flex-container">
		<div class="col" routerLink="/environmentservices">
			<object id="" type="image/svg+xml" data="assets/Fill 124.svg">
  				<img src="assets/Fill 124.svg"/>
			</object>
			<p>Environment<br />Services</p>
		</div>
		<div class="col" routerLink="/dataservices">
			<object id="" type="image/svg+xml" data="assets/Data Services.svg">
  				<img src="assets/Data Services.svg"/>
			</object>
			<p>Data <br />Services</p>
		</div>
		<div class="col" routerLink="/toolservices">
			<object id="" type="image/svg+xml" data="assets/Tool Services.svg">
  				<img src="assets/Tool Services.svg"/>
			</object>
			<p>Tool<br />Services</p>
		</div>
		<div class="col" routerLink="/performanceengineering">
			<object id="" type="image/svg+xml" data="assets/Performance Eng Icon.svg">
  				<img src="assets/Performance Eng Icon.svg"/>
			</object>
			<p>Performance<br />Engineering</p>
		</div>
		<div class="col" routerLink="/Engage_eDept">
			<object id="" type="image/svg+xml" data="assets/Engage_Icon.svg">
  				<img src="assets/Engage_Icon.svg"/>
			</object>
			<p>Engage<br/>eDEPT</p>
		</div>
		<div class="col" routerLink="/additionalservices">
			<object id="" type="image/svg+xml" data="assets/Addtional Services_Icon.svg">
  				<img src="assets/Addtional Services_Icon.svg"/>
			</object>
			<p>Addtional<br />Services</p>
		</div>
		<div class="col flx_div1" id="" routerLink="/redsimulatorstatus">
			<object id="" type="image/svg+xml" data="assets/Group 2.svg">
  				<img src="assets/Group 2.svg"/>
			</object>
			<p>Red Simulator<br />Status</p>
		</div>
		<div class="col flx_div1" routerLink="/ticketstatus">
			<object id="" type="image/svg+xml" data="assets/Ticket Status_Icon.svg">
  				<img src="assets/Ticket Status_Icon.svg"/>
			</object>
			<p>Ticket<br />Status</p>
		</div>
		<!-- <div>---{{users.session.name}}</div> -->
	</div>
</div>
</div>